/*Google fonts import code*/
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Protest+Revolution&display=swap');

/*global styles*/
body {
    background-color: black;
    font-family: "Geist Mono", monospace;
    font-size: 14px;
    color:white;
    height: 100vh;
    margin-left: 10px;
}
.page-title {
    color: #11ED73;
    font-size: 14px;
}

/*Navbar*/
#logo {
    font-family: "Protest Revolution", sans-serif;
    color: #11ED73;
    padding-top: 1opx;
    font-size: 30px;
}
.navbar-brand
.nav-img {
    height: 4rem;
    width: auto;
}
/*.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2817, 237, 115, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link {
    color: #11ED73;
}*/

/*Carousel*/
.carousel-inner
.c-item {
    max-height: 100%;
    padding: 0.8rem;
    background-color: #11ED73;  
}
.c-img {
    filter: brightness (0.5);
}
.c-caption {
    width: 75%;
    left: 12.5%;
    text-align: center;
    margin-bottom: 0;
}
.c-caption h3 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.c-caption p {
    font-size: 12px;
    text-align: center;
}
.welcome-parg {
    margin-bottom: 20px;
}

/*Call to action button*/
.cta-btn {
    color: #11ED73;
    border-color: #11ED73;
    border-block-width: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*About page*/
.a-item {
    height: 100%;
    padding: 0.8rem;
    margin-right: -20px;
    background-color: #11ED73;
    font-size: 12px;
    color: black;
}
.a-img {
    border-radius: 50%;
    padding: 1rem;
    background-color:#11ED73;
}
.about-img-cap {
    font-size: 12px;
}

/*Events page*/
.e-item {
    background-color: black;
    color: #11ED73;
}
.e-item ul {
    font-size: 12px;
    color: white;
}
.cr-img {
    height: 0.8rem;
}

/*Contact page*/
.cp-item {
    color: #11ED73;
}
.cta-btn2 {
    font-size: 0.6rem;
    border-color: #11ED73;
    border-block-width: 0.2rem;
    color: #11ED73;
}

/*Footer*/
.f-item {
    margin-top: 1rem;
    margin-right: -2rem;
    background-color: black;
    color: #11ED73;
    padding-right: -2rem;
}
.f-item
#logo {
    text-decoration: none;
}
.f-img {
    height: 2rem;
}

/*Media Queries*/

/*1 Small mobile devices (phones, 576px and below) */
    @media screen and (max-width: 576px) {
    #logo {
        font-size: 1.3rem;
    }
    .navbar-brand
    .nav-img {
        height: 2.5rem;
        width: 2.5rem;
    }
    .carousel-inner
    .c-item {
        padding: 0.7rem;
    }
    .c-caption h3 {
        font-size: 1.3rem;
    }
    .c-caption p {
        font-size: 1.1rem;
    }
    .a-item {
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    .f-img {
        height: 1.8rem;
    }
    .f-item
    #logo {
    font-size: 1.3rem;
    }
}

/*2 Small devices (portrait tablets and large phones, 576px and up) */
    @media screen and (min-width: 576px) {
    #logo {
        font-size: 2.3rem;;
    }
    .navbar-brand
    .nav-img {
        height: 3.9rem;
        width: 3.9rem;
    }
    .carousel-inner
    .c-item {
        padding: 0.8rem;
    }
    .c-caption h3 {
        font-size: 1.6rem;
    }
    .c-caption p {
        font-size: 1.2rem;
    }
    .a-item {
        font-size: 1.3rem;
        padding: 0.7rem;
    }
    .f-img {
        height: 3.1rem;
    }
    .f-item
    #logo {
    font-size: 2rem;
    }
    .f-item
    #logo {
        font-size: 1.6rem;
    }
}
  
/*3 Medium devices (landscape tablets, 768px and up) */
    @media screen and (min-width: 768px) {
    #logo {
        font-size: 2.7rem;;
    }
    .navbar-brand
    .nav-img {
        height: 4.2rem;
        width: 4.2rem;
    }
    .page-title {
        font-size: 16px;
    }
    .c-item {
        padding: 0.9rem;
    }
    .carousel-inner
    .c-caption h3 {
        font-size: 1.7rem;
    }
    .c-caption p {
        font-size: 1.3rem;
    }
    .a-item {
        font-size: 1.4rem;
        padding: 0.8rem;
    }
    .f-img {
        height: 3.2rem;
    }
    .f-item
    #logo {
        font-size: 1.7rem;
    }
}

/*4 Large devices (laptops/desktops, 992px and up) */
    @media screen and (min-width: 992px) {
    body {
        font-size: 1.1rem;
    }

    #logo {
        font-size: 2.8rem;;
    }
    .navbar-brand
    .nav-img {
        height: 4.3rem;
        width: 4.3rem;
    }
    .carousel-inner
    .c-item {
        padding: 0.9rem;
     }
    .nav-item {
        font-size: 1.3rem;
    }
    .page-title {
        font-size: 1.2rem;
    }
    .c-item {
        padding: 1rem;
    }
    .c-caption h3 {
        font-size: 1.8rem;
    }
    .c-caption p {
        font-size: 1.4rem;
    }
    .a-item {
        font-size: 1.5rem;
        padding: 1rem;
    }
    .f-img {
        height: 3.2rem;
    }
    .f-item
    #logo {
        font-size: 1.8rem;
    }
}

/*5 Extra large devices (large laptops and desktops, 1200px and up)*/
    @media screen and (min-width: 1200px) {
    Body {
        font-size: 1.2rem;
    }
    #logo {
        font-size: 2.9rem;
    }
    .navbar-brand
    .nav-img {
        height: 4.4rem;
        width: 4.4rem;
    }
    .nav-item {
        font-size: 1.5rem;
    }
    .page-title {
        font-size: 30px;
    }
    .carousel-inner
    .c-item {
        padding: 1.1rem;
    }
    .c-caption h3 {
        font-size: 1.9rem;
    }
    .c-caption p {
        font-size: 1.5rem;
    }
    .a-item {
        font-size: 1.6rem;
    }
    .f-img {
        height: 3.3rem;
    }
    .f-item
    #logo {
        font-size: 1.9rem;
    }
}

/*6 Extra extra large devices (large laptops and desktops, 1200px and up)*/ 
    @media screen and (min-width: 1200px) {
    body {
        font-size: 1.3rem;
    }
    #logo {
        font-size: 3rem;
    }
    .navbar-brand
    .nav-img {
        height: 4.5rem;
        width: 4.5rem;
    }
    .nav-item {
            font-size: 3rem;
    }
    .carousel-inner
    .c-item {
        padding: 1.2rem;
    }
    .c-caption h3 {
        font-size: 2rem;
    }
    .c-caption p {
        font-size: 1.6rem;
    }
    .a-item {
        font-size: 1.7rem;
        padding: 1.2rem;
    }
    .f-img {
        height: 3.4rem;
    }
    .f-item
    #logo {
        font-size: 2rem;
    }
}   
