/*global styles*/


body {
    background-color: black;
    color:white;
}

/*Carousel*/
.carousel-item {
    width: 75%;
    padding: 10px;
    background-color:slategrey;
    margin-top: 20px;
    
}

#event-carousel {
    align-items: center;
    padding-left: 270px;
}