/*Google fonts import code*/
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Protest+Revolution&display=swap');

/*global styles*/
body {
    background-color: black;
    font-family: "Geist Mono", monospace;
    font-size: 12px;
    color:white;
    /*height: 100vh;*/
    margin-left: 10px;
    padding-top: 1rem;
}
.page-title {
    font-size: 0.8rem;
    color: #11ED73;
}
h3 {
    font-size: 0.9rem;
}

/*Header*/
#header {
    position: sticky;
    /*overflow: hidden;*/
    top: 0;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: 9999;
}
#logo {
    font-family: "Protest Revolution", sans-serif;
    color: #11ED73;
}
.navbar-toggler {
    width: 1.5rem;
    height: 1.5rem;
}
.navbar-toggler-icon {
    width: 90%;
    height: 100%;
}
.text-brand{
    color: #11ED73;
    font-size: 1rem;
}
.header-brand {
    margin-top: 1rem;
}
.header-img {
    max-height: 3rem;
    width: auto;
}

/*Navigation*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2311ED73' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    border-color: #11ED73;
    height: 2rem;
    width: 90%;
    height: 100%;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.nav-link {
    color: #11ED73;
    font-size: 0.8rem;
    text-decoration: none;
}
.nav-link:hover {
    color: white;
}

/*Carousel*/
#carousel {
    margin-top: 0.8rem;
    }
.c-item {
    max-height: 100%;
    padding: 0.8rem;
    background-color: #11ED73;  
}
.c-caption {
    width: 75%;
    left: 12.5%;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.c-caption p {
    font-size: 12px;
}
.welcome-parg {
    margin-bottom: 20px;
}

/*Call to action button*/
.cta-btn {
    color: #11ED73;
    border-color: #11ED73;
    border-block-width: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.7rem;
}

/*About page*/
.a-item {
    height: 100%;
    width: 100%;
    background-color: #11ED73;
    font-size: 0.8rem;
    color: black;
}
.a-img {
    border-radius: 50%;
    padding: 1rem;
    background-color:#11ED73;
}

/*Events page*/
.e-item {
    background-color: black;
    color: #11ED73;
}
.e-item ul {
    font-size: 0.8rem;
    color: white;
}
.card-img-top {
    object-fit: cover;
}
.card.e-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.card-body ul {
    margin-top:auto;
    margin-bottom: 0.5rem;
}
.card-text-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/*Contact page*/
.form-control {
    font-size: 0.7rem;
}
.cp-item {
    color: #11ED73;
}
.cta-btn2 {
    font-size: 0.6rem;
    border-color: #11ED73;
    border-block-width: 0.2rem;
    color: #11ED73;
}

/*Roxoff Page */
#roxoff {
    max-height: 800px;
    max-width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.roxoff-item {
    font-size: 1rem;
}
.roxoff-img {
    height: 75%;
    width: 100%;
    max-width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-position: center center;
    object-fit: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Footer*/
.f-item {
    margin-top: 1rem;
    margin-right: -2rem;
    background-color: black;
    color: #11ED73;
}
#logo2 {
    font-family: "Protest Revolution", sans-serif;
    color: #11ED73;
    padding-top: 10px;
    font-size: 1rem;
    text-decoration: none;
}
.f-img {
    height: 2.5rem;
}
.cr-img {
    height: 0.8rem;
    width: auto;
    margin-right: 0.5rem;
}

/*Thank you message*/
.ty-item {
    color: #11ED73;
    margin-top: 5rem;
}

/*404 error message*/
.error-item {
    color: #11ED73;
    margin-top: 5rem;
}

/*Media Quieries*/

/*1 Extra small mobile devices (small phones, 320px and above)*/
@media screen and (min-width: 320px) {
    .text-brand {
        font-size: 1.2rem;
    }
    .header-img {
        height: 2.5rem;
    }
    .c-item {
        padding: 0.4rem;
    }
    .a-img {
        padding: 0.4rem;
    }
    .f-img {
        height: 2.2rem;
    }
}

/*2 Small mobile devices (phones, 360px and above)*/
@media screen and (min-width: 360px) {
    .text-brand {
        font-size: 1.4rem;
    }
    .header-img {
        height: 3rem;
    }
    .nav-link {
        font-size: 0.8rem;
    }
    .c-item {
        padding: 0.5rem;
    }
    .a-img {
        padding: 0.5rem;
    }
    .c-caption p {
        font-size: 1rem;
    }
    .f-img {
        height: 1.5rem;
    }
}

/*3 Small devices (portrait tablets and large phones, 576px and up)*/
@media screen and (min-width: 576px) {
    .c-item {
        padding: 0.6rem;
    }
    .c-caption p {
        font-size: 1.1rem;
    }
    .a-img {
        padding: 0.6rem;
    }
    .f-img {
        height: 2.2rem;
    }
    #logo2 {
        font-size: 1.2rem;
    }
}
  
/*3 Medium devices (landscape tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    .text-brand {
        font-size: 1.8rem;
    }  
    .navbar-toggler {
        width: 1.8rem;
        height: 1.8rem;
    }
    .navbar-toggler-icon {
        margin-right: 1rem;
    }
    #carousel {
        margin-top: 1rem;
    }
    .c-item {
        padding: 0.7rem;
    }
    .c-caption p {
        font-size: 1.2rem;
    }
    .a-img {
        padding: 0.7rem;
    }
    .f-img {
        height: 2.3rem;
    }
    #logo2 {
        font-size: 1.3rem;
    }
}

/*5 Large devices (laptops/desktops, 992px and up)*/
@media screen and (min-width: 992px) {
    body {
        font-size: 0.8rem;
    }
    .text-brand {
        font-size: 1.9rem;
    }
    .navbar-toggler {
        width: 2rem;
        height: 2rem;
    }
    .page-title {
        font-size: 1rem;
    }
    .nav-link {
        font-size: 1rem;
    }
    .c-caption p {
        font-size: 1.4rem;
    }
    .a-item {
        font-size: 1.1rem;
        margin-right: 3rem;
    }    
    .f-img {
        height: 2.4rem;
    }
    #logo2 {
        font-size: 1.4rem;
    }
}

/*7 Extra large devices (large laptops and desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
    body {
        font-size: 0.8rem;
    }
    .text-brand {
        font-size: 2rem;
    }
    .c-caption p {
        font-size: 1.7rem;
    }
    .a-item {
        font-size: 1.1rem;
    }
    .f-img {
        height: 2.5rem;
    }
    #logo2 {
        font-size: 1.5rem;
    }
}

/*8 Extra extra large devices (large laptops and desktops, 1400px and up)*/
@media screen and (min-width: 1400px) {
    body {
        font-size: 1rem;
    }
    .text-brand {
        font-size: 2.1rem;
    }
    .navbar-toggler {
        width: 2.2rem;
        height: 2.2rem;
    }
    #carousel {
        margin-top: 2rem;
    }
    .c-item {
        padding: 0.8rem;
    }
    .c-caption p {
        font-size: 1.9rem;
    }
    .page-title {
        font-size: 1.2rem;
    }
    .a-img {
        padding: 0.8rem;
    }
    .f-img {
        height: 2.6rem;
    }
    #logo2 {
        font-size: 1.6rem;
    }
}